body {
  background-color: green;
}

h1 {
  color: aliceblue;
  padding-left: 40%;
  margin: 2rem 4rem 2rem 4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}
.bottom-h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 45%;
  margin-top: 4rem;
}
h4 {
  color: lightblue;
  text-transform: uppercase;
}

p {
  padding-left: 20%;
  padding-right: 20%;
  color: aliceblue;
}

li {
  color: aliceblue;
}
